/* start global*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

html, body {
    height: 100%;
  }
body{
    background-image: url(../photos/food-1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
        
}   

.content {
    flex: 1 0 auto; 
}
/* end global*/

/* start all pages theme*/ 

.theme_header,.theme_nav,.theme_footer,.t_footer{
    width: 100%;
    height: auto;
    padding: 10px 0;
    text-align: center;

}

.theme_header {
    background-color: dodgerblue;
    color: azure;
    word-spacing: 5px;
    padding: 10px;
    
}
.theme_header a{
    text-decoration: none;
}
.theme_header a h1{
    color: azure;
    margin: 0;
}
.theme_header a h1:hover{
    cursor: pointer;
}
.theme_header a h1:active{
    color: purple;
}
.theme_nav{
    font-weight: bold;
    background-color:azure ;   
}
.theme_nav ul{
    list-style: none;
    margin: 0;
    padding: 10px 0;
    
}
.theme_nav ul li{
    display: inline-block;
    padding: 0  ;
}
.theme_nav ul li:after{
    content: "   ||"
    
}
.theme_nav ul li:last-child:after{
    content: ""
}    
.theme_nav ul li a{
    text-decoration: none;
    color: dodgerblue;
}
.theme_nav ul li a:hover{
    border-bottom: medium dashed ;
    cursor: pointer;
}
.theme_nav ul li a:active{
    color: purple;
    border-bottom-color: purple;
    border-bottom: medium dashed ;
}
.theme_footer {
  background-color: rgb(53,53,53);
  color: azure;
  flex-shrink: 0;
  display: flex;
  
  justify-content: center;
    align-items: center;
}
.contact{
    list-style: none;
    padding: 0 0;
}
.contact li{
    display: inline-block;
    padding: 0 0 ;
    
}
.contact_icon{
    filter: drop-shadow(3px 3px 7px dodgerblue);
}
.contact_icon:hover{
    filter: drop-shadow(3px 3px 7px purple);
}

.f_TableCell{
    flex: 1;

}
/* end all pages theme*/ 


/* start main page css */ 
.des{
    text-align: center;
    padding: 7px;
    color: azure;
    font-size: 150%;
}
.des a{
    text-decoration: none;

}
.des button {
    background-color: dodgerblue;
    color: azure;
    display: block;
    width: 40%;
    margin:2px auto;
    padding: 5px;
    outline: none;
    box-sizing: border-box;
    border-radius: 7px;
    border: none;
}
.des button:hover{
    border: medium dashed ;
    cursor: pointer;
}
.des button:active{
    color: purple;
    border-color: purple;
    border-bottom: medium dashed ;
}


 
.main{
    margin: 0.5% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    
}  

.inside_main{
    margin: 4% 5px;
    border-radius: 10px;
    background-color: rgba(53,53,53,0.5);
    padding: 5px;
    flex: 1;
}  
  .slideshow-container img:hover {
    box-shadow: 5px 5px 15px purple;
  }
  
  .slideshow-container img {
    width: 100%;  
    max-height: 350px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px dodgerblue;
  }

.slideshow-container  {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 5px;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: azure;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
  }
  .prev{
      left: 0;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 5px 0 0 5px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
    
  /* Number text (1/3 etc) */
  .numbertext {
    color: azure;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots indecators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 2px 3px;
    background-color: dodgerblue;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: rgb(53,53,53);
  }
  
  /* Fading animation */
  .fade {
    
    animation-name: fade;
    animation-duration: 1s;
  }
  
  @keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
  }

/* end main page css */ 





@media (max-width : 767px){/* mobile and tablet rules*/
    .theme_header {
        word-spacing: 0px;
        font-size: smaller;
    }

   /*start nav resposive*/
    .theme_nav ul{  
        padding: 0 0 ;
    }
    .theme_nav ul li{
        display: block;
        padding-bottom: 5px;
        width: 100%;
    }
    .theme_nav ul li:after{
        content: "  ||"
    }
    .theme_nav ul li:before{
        content: "||  "
    }
    .theme_nav ul li:last-child:after{
        content: "  ||"
    }
    /*end nav resposive*/

   /*start footer resposive*/

      
    .theme_footer{
        flex-direction: column;
    }
    /*end footer resposive*/
    
    /*start meals resposive*/
    .row{
        display: block;
        width: 90%;
    }
    /*end meals resposive*/

    /*start register resposive*/
    fieldset{
        width: 85%;
    }
    /*end register resposive*/

   /*start main page responsive*/

   .main{
       flex-direction: column;
   }
    .inside_main{
        margin: 5px auto;
        width: 90%;
    }

   /*end main page responsive*/

}
@media (min-width: 768px) and (max-width: 991px){ /* samll screens rules*/
    
    .theme_header {
        word-spacing: 0px;
        font-size: smaller;
    }
   /*start nav resposive*/

    .theme_nav ul{
        
        padding: 0 0 ;
    }
    .theme_nav ul li{
        display: block;
        padding-bottom: 5px;
        width: 100%;
    }
    .theme_nav ul li:after{
        content: "  ||"
    }
    .theme_nav ul li:before{
        content: "||  "
    }
    .theme_nav ul li:last-child:after{
        content: "  ||"
    }

    /*end nav resposive*/

    /*start footer resposive*/
  
    .theme_footer{
        flex-direction: column;
    }
    .f_TableCell{
        margin-bottom: 5px;
    }
    /*end footer resposive*/
    
    /*start meals resposive*/
    .row{
        display: block;
        width: 90%;
    }
    /*end meals resposive*/

    /*start register resposive*/
    fieldset{
        width: 65%;
    }
    /*end register resposive*/

    /*start main page responsive*/

    .main{
        flex-direction: column;
    }
    .inside_main{
        margin: 5px auto;
        width: 85%;
    }
    /*end main page responsive*/
}

@media (min-width: 992px) and (max-width: 1199px){ /* meduim screens rules*/
      /*start meals resposive*/

    .row{
        display: block;
        width: 65%;
    }
     /*end meals resposive*/

    /*start register resposive*/
    fieldset{
        width: 55%;
    }
     /*end register resposive*/

    /*start footer resposive*/

    
    .f_TableCell{
        margin-bottom: 5px;
    }
    /*end footer resposive*/

    /*start main page responsive*/
    .main{
        flex-direction: column;
    }
    .inside_main{
        margin: 5px auto;
        width: 75%;
    }

    /*end main page responsive*/
}
@media (min-width: 1200px){ /* large screens rules*/
         /*start meals resposive*/

    .row{
        width: 33.08%;
    }
     /*end meals resposive*/

    /*start register resposive*/
    fieldset{
        width: 33%;
    }
    /*end register resposive*/

    /*start main page responsive*/



    /*end main page responsive*/
} 
